@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 775px;
  height: auto;
  background: #1a1d25;
  font-family: "Inter";
}

// $colors: linear-gradient(to right, #f44336, #e91e63),
//   linear-gradient(to right, #e91e63, #9c27b0),
//   linear-gradient(to right, #9c27b0, #2196f3),
//   linear-gradient(to right, #2196f3, #4caf50),
//   linear-gradient(to right, #4caf50, #ff5722),
//   linear-gradient(to right, #ff5722, #f44336);
.mainContainer {
  padding-bottom: 30px;
}
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 14px;
}
.authBtn {
  display: flex;
  gap: 8px;
}
.loginBtn,
.signInBtn,
.UpgradeBtn {
  font-family: "Inter";
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: transparent;
  color: white;
  background: #4486e9;
  border-radius: 8px;
  border: none;
  width: 100px;
  height: 40px;
  font-weight: 600;
  font-size: 11px;
  padding: 0 10px;
  cursor: pointer;
  &:hover {
    background-color: transparent;
    border: 1px solid #4486e9;
    color: #4486e9;
  }
}
.UpgradeBtn {
  display: flex;
  gap: 5px;
  svg {
    height: 14px;
    width: 10px;
  }
}

.title {
  background: -webkit-linear-gradient(90deg, #cb6bf8 0%, #5c32b5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: lowercase;
  font-size: 14px;
  font-weight: 600;
}
.UpgradePlan {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 45px;
  gap: 47px;
}

.planType {
  color: #4486e9;
  font-weight: 600;
}
.CP {
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}
.waterMark {
  color: black;
  font-size: 9px;
  float: right;
  margin: 7px -9px 0px 0px;
}
.ImageCon {
  padding: 23px 31px 7px;
  width: 510px;
  margin: 8px auto 18px;
  overflow: hidden;
  background: linear-gradient(
    104.34deg,
    #ffdede 0%,
    #fff8de 33.33%,
    #e9ffde 66.67%,
    #59dfbf 100%
  );
  box-shadow: 10px 10px 20px rgba(17, 17, 17, 0.25);
  // filter: drop-shadow(10px 10px 20px rgba(17, 17, 17, 0.25));
  border-radius: 6px;
}
.textToImage {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 7px;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: start;
  background: linear-gradient(
    101.55deg,
    rgba(255, 255, 255, 0.9) 34.75%,
    rgba(255, 255, 255, 0.3) 100%
  );

  box-shadow: 10px 10px 25px rgba(96, 96, 96, 0.25);
  // filter: drop-shadow(10px 10px 20px rgba(17, 17, 17, 0.25));
  border-radius: 6px;
}

.userDetail {
  display: flex;
  gap: 9px;
  align-items: flex-start;
  margin-left: 7px;
}
.userName {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.name {
  font-weight: 700;
  font-size: 12px;
  line-height: 29.05px;
}
.handle {
  font-weight: 500;
  font-size: 10px;
  color: #b0b0b0;
  margin-top: -5px;
}
.time {
  padding: 0px 0px 11px 12px;
  font-weight: 500;
  font-size: 10px;
  line-height: 14.78px;
  color: #b0b0b0;
}
.tweetText {
  padding: 4px 11px;
  font-weight: 400;
  font-size: 13px;
  line-height: 19.4px;
  display: inline-block;
  // max-height: 86px;
  // overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  img {
    height: 15px;
    width: 15px;
  }
}

.tweetExpressions {
  justify-content: flex-start;
  gap: 27px;
  padding-left: 13px;
}
.exp {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 13.4px;
  span {
    color: #b0b0b0;
    font-size: 10px;
    font-weight: 500;
  }
}

.backColorBtn {
  background-color: rgb(99, 149, 99);
}
.showImage {
  width: 425px;
  margin: 18px auto;
}
.avatar {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
.effectsContainer {
  font-family: "Inter";
  position: relative;
  border: 0.5px solid #6279b4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 348px;
  height: 85px;
  margin: auto;
  padding: 7px 1px;
  margin-top: 34px;
  background: #0f1c3f;

  box-shadow: 10px 10px 20px rgba(17, 17, 17, 0.25);
  // filter: drop-shadow(10px 10px 20px rgba(17, 17, 17, 0.25));
  border-radius: 6px;
  img {
    height: 14px;
    width: 14px;
    color: white;
  }
}
#colorIcon {
  color: linear-gradient(
    101.55deg,
    rgba(255, 255, 255, 0.9) 34.75%,
    rgba(255, 255, 255, 0.3) 100%
  );
}
.colors,
.response,
.mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: white;
  background-color: transparent;
  border: none;
  position: relative;
  padding: 12px 14px;
  cursor: pointer;
  font-family: "Inter";

  &:hover {
    background-color: #18264e;
    padding: 12px 14px;
    border-radius: 7px;
  }
}
.share {
  background-color: #4486e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border: none;
  position: relative;
  padding: 6px 9px;
  border-radius: 7px;
  font-family: "Inter";
}
.colors,
.response,
.mode,
.share span {
  font-size: 10px;
}

#colorContainer {
  gap: 15px;
  position: absolute;
  bottom: 85px;
  left: 0px;
  border: 0.5px solid #6279b4;
  border-radius: 4px;
  padding: 13px 20px;
  background: #0f1c3f;
}
#color1,
#color2,
#color3,
#color4,
#color5,
#color6,
#color7 {
  padding: 7px;
  border-radius: 10px;
  border: none;
}
