@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 700px;
  height: 580px;
  background: #1e1e1e;
  // font-family: "Inter", sans-serif;
}

$colors: linear-gradient(to right, #f44336, #e91e63),
  linear-gradient(to right, #e91e63, #9c27b0),
  linear-gradient(to right, #9c27b0, #2196f3),
  linear-gradient(to right, #2196f3, #4caf50),
  linear-gradient(to right, #4caf50, #ff5722),
  linear-gradient(to right, #ff5722, #f44336);
.mainContainer {
  background: #1e1e1e;
}
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 21px;
}
.loginBtn,
.signInBtn,
.UpgradeBtn {
  text-decoration: transparent;
  color: white;
  padding: 4px 19px;
  background: #4486e9;
  border-radius: 10px;
  border: none;
  width: 112px;
  height: 48px;
  margin-right: 6px;
  font-weight: 600;
  font-size: 15px;
  &:hover {
    background-color: transparent;
    border: 1px solid #4486e9;
    color: #4486e9;
  }
}
.title {
  background: -webkit-linear-gradient(90deg, #cb6bf8 0%, #5c32b5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: lowercase;
  font-size: 19px;
  font-weight: 600;
}
.UpgradePlan {
  display: flex;
  justify-content: space-between;
  padding: 29px 87px 0 87px;
  align-items: flex-end;
}

.planType {
  color: #4486e9;
}
.CP {
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.waterMark {
  float: right;
  margin: 5px 32px 0px 0px;
}
.ImageCon {
  padding: 25px;
  width: 550px;
  margin: 18px auto;

  background: linear-gradient(
    104.34deg,
    #ffdede 0%,
    #fff8de 33.33%,
    #e9ffde 66.67%,
    #59dfbf 100%
  );
  // box-shadow: 10px 10px 20px rgba(17, 17, 17, 0.25);
  border-radius: 15px;
}
.textToImage {
  max-width: 94%;
  margin: 0 auto;
  padding: 25px 7px;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: start;
  background: linear-gradient(
    101.55deg,
    rgba(255, 255, 255, 0.9) 34.75%,
    rgba(255, 255, 255, 0.3) 100%
  );

  // box-shadow: 10px 10px 25px rgba(96, 96, 96, 0.25);
  border-radius: 15px;
}
.userDetail {
  display: flex;
  gap: 7px;
  align-items: center;
  margin-left: 7px;
}
.userName {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.name {
  font-weight: 700;
  font-size: 15px;
  line-height: 29.05px;
}
.handle {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.78px;
  color: #b0b0b0;
}
.time {
  padding: 8px 0px 8px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.78px;
  color: #b0b0b0;
}
.tweetText {
  padding: 4px 11px;
  font-weight: 500;
  font-size: 14px;
  line-height: 23.4px;
}
.tweetExpressions {
  justify-content: flex-start;
  gap: 27px;
  padding-left: 23px;
}
.exp {
  font-weight: 500;
  font-size: 14px;
  line-height: 14.4px;
}
.exp span {
  color: #b0b0b0;
}
.backColorBtn {
  background-color: rgb(99, 149, 99);
}
.showImage {
  width: 550px;
  margin: 18px auto;
}
.avatar {
  border-radius: 25px;
}
.effectsContainer {
  position: relative;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  padding: 7px 20px;
  margin-top: 56px;

  background: linear-gradient(
    91.95deg,
    #0f1c3f 0%,
    rgba(15, 28, 63, 0.35) 100%
  );

  // box-shadow: 10px 10px 20px rgba(17, 17, 17, 0.25);
  border-radius: 15px;
}
.effectsContainer img {
  height: 20px;
  width: 20px;
  color: white;
}

.effectsContainer button:active {
  background-color: #18264e;
  padding: 10px;
  border-radius: 7px;
}
.colors,
.response,
.mode,
.share {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  color: white;
  background-color: transparent;
  border: none;
  position: relative;
}
.colors,
.response,
.mode,
.share span {
  font-size: 12px;
}
.share {
  background-color: blue;
  padding: 10px;
  border-radius: 7px;
}
#colorContainer {
  gap: 15px;
  position: absolute;

  bottom: 73px;
  left: 5px;

  border: 1px solid blue;
  border-radius: 4px;
  padding: 13px 20px;
  background: linear-gradient(
    91.95deg,
    #0f1c3f 0%,
    rgba(15, 28, 63, 0.35) 100%
  );
}

#color1,
#color2,
#color3,
#color4,
#color5,
#color6 {
  padding: 7px;
  border-radius: 10px;
  border: none;
}
