@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 400px;
  height: 400px;
}
.textToImage {
  max-width: 80%;
  margin: 100px auto;
  padding: 50px 7px;
  text-align: start;
  // background-color: #4ac9c1;
  border-radius: 20px;
}
.userDetail {
  display: flex;
  gap: 7px;
}
.tweetText {
  padding: 4px 11px;
}
.tweetExpressions {
  display: flex;
  justify-content: space-evenly;
}
